<%= form_with(model: post) do |form| %>
  <p> Content </p>
  <div><%= text_field(:post, :content)  %></div>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit data: { disable_with: 'Submitting..'} %>
  </div>
<% end %>
